body
  background url('../../images/bg-wood.jpg') no-repeat center center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  
.callout
    background url('../../images/bg-callout.png') no-repeat center center fixed
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover

    position absolute
    bottom 0
    left 0
    width 66%
    height 269px
    margin 0
    overflow auto
    
    &__txt
        position relative
        top 5%
        left 5%
        width 90%