@media (min-width: 1100px)
    .polaroid
        &#celebration
            top 165px
            left 55px
        
        &#signing
            top 197px
            left 330px
        
        &#date
            top 88px 
            left 605px

@media (max-width: 660px)
    .polaroid
        &#celebration
            top 3%
            left 6%
        
        &#signing
            top 21%
            left 45%
        
        &#date
            top 43%
            left 11%
            
        &#rando
            right -40%
            top 67%


@media (max-height: 990px) and (max-width: 900px)
    body
        overflow-y auto
        
    #mainPolaroids
        height 750px
            
    .callout
        position relative
        
    .polaroid
        &#celebration
            top 28px
            left 33px
        
        &#signing
            top 193px
            left 245px
        
        &#date
            top 420px
            left 49px
            
        &#rando
            
        &#shoe
            right -150px
            
@media (max-width: 500px)
    body
        overflow-y auto

    #mainPolaroids
        height 950px
        

    .polaroid
        &#celebration
            top 28px
            left 33px
        
        &#signing
            top 305px
            left 165px
        
        &#date
            top 540px
            left 20px
            
        &#rando
            top 90%
        
        &#shoe
            left 93%
            top 92%
            
@media (max-height: 635px)
    body
        overflow-y auto

    #mainPolaroids
        height 950px
        
    .callout
        position relative

    .polaroid
        &#celebration
            top 28px
            left 33px
        
        &#signing
            top 305px
            left 165px
        
        &#date
            top 540px
            left 20px
            
        &#rando
            top 97%
        
        &#shoe
            left 93%
            top 92%
    